*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin:0px;
	padding:0px;
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:white;
	box-shadow:3px 3px 5px 6px #000000;
    float:left;
	background: url("images/bats.gif") repeat left top;
	text-align: center;
	width:100%;
}
.mainouterblock{
	width:100%;
	position: relative;
	max-width: 1000px;
	display: inline-block;
	border:5px solid #000;
	text-align: left;
}
a {
    font-weight: bold;
    color: orange;
}
a:link, a:visited { 
    color: orange; 
}
a:hover, a:focus { 
    color: green;
}
#header{
	border-bottom: 5px solid black;
	background-image: linear-gradient(to right, white,orange,black);
	padding:10px 25px;
	position: relative;
	float: left;
		width: 100%;
}
/* Header */
header img { 
	float: left; 
} 
header h2 {
	font-size: 230%;
	text-indent: 25px;
	}
header h3 {
	font-size: 125%;
	text-indent: 25px;
}

/* Main */
main{
	width:100%;
	float:left;
	padding: 25px;
	background: #fff;
}
main h1 { 
	font-size: 25px;
	margin:0px 0px 20px;
}
main h1:first-letter { 
	font-size:45px;
}
main h2 {
    font-size: 23px;
    margin-bottom: 20px;
    width: 100%;
  	float: left;
}
main h3 {
	font-size:20px;
	width: 100%;
 	float: left;margin-bottom: 20px;
}
ul {
	line-height: 1.5;
}
main p{
	font-size:17px;
	line-height: 23px;
	margin-bottom: 20px;
}

main ul {
  margin: 0px;
  padding: 0px 40px 15px;
  width: 100%;
  float: left;
}
main ul li {
  width: 100%;
  float: left;
  margin-bottom:0px;
}
.rightblockimg {
    width: calc(100% - 100px);
    float: right;
}
/* Footer */
footer {
    background-image: linear-gradient(to left, white,orange,black);
    padding: 15px 0px;
    width: 100%;
    float: left;
    border-top:5px solid #000;

}
footer p {
	font-size: 15px;
	text-align: center;
}
/* 2.html*/
.main-left{ width:20%;float:left }
.main-right{width:75%;float:left}
.product-span{margin:20px 0;display:block}
/* 2.html*/